html, body {
    height: 100%;
    width:100%
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    font-size: 14px;
    font-family: arial, sans-serif;
    margin: 0;
}

#columns {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height:100%;
}

.containers-all {
    display: flex;
    flex-direction:column;
    height: 100%;
    justify-content: flex-start;
    align-items: center;
}

.container-form {
    display: flex;
    align-items: center;
    height: 40px;
    width: 550px;
    border-style: solid;
    border-color:gainsboro;
    border-radius: 35px;
    border-width: 1px;
    margin-top: 20px;
} 
#logo {
    margin-top:140px;
}

#text-form {
    width: 90%;
}

#search-box {
    width: 100%;
    border-style: none;
}
#search-icon {
    margin-left: 15px;
    color:
}
.search-lucky {
    display: flex;
    margin-top: 30px;
    color: #70757a;

}
#search {
    padding: 8px 18px;
    background-color: #f1f1f1;
    margin-right: 10px;
}
#lucky {
    padding: 8px 18px;
    background-color: #f1f1f1;
}

.nav-bar {
    width: stretch;
    height: 60px;
    display: flex;
    align-items: center;
    padding: 6px; 
}

.nav-bar .upper-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    font-size: 13px;
}


.footer {
    display: flex;
    justify-content: space-between;
    width: stretch;
    flex-wrap: wrap;
    background-color: #f2f2f2;
    color: #70757a;
}

.footer .bottom-left {
    display: flex;
}
.bottom-left-text {
    margin-left: 10px;
}

.footer .bottom-center {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 60px;
}

.footer .bottom-center .leaf {
   height: 14px;
   margin-right: 5px;
}

.footer .bottom-right {
    display: flex;
}
.bottom-right-text {
    margin-right: 10px;
}

@media only screen and (max-width: 1200px) {
    .footer .bottom-center {
        order: 1;
        width: 100%;
    }
    .footer .bottom-left {
        order: 2;
    }
    .footer .bottom-right {
        order: 3;
    }
    .footer {
        justify-content: space-evenly;
    }
    .footer .bottom-center {
        margin: 0;
    }

@media only screen and (max-width: 687.5px) {
    .container-form {
        width: 80%;
    }
}

@media only screen and (max-width: 600px) {
    .footer {
        flex-direction: column;
        align-items: center;
    }
}
}
#images {
    padding-left: 15px;
    padding-right: 15px;
}

#apps {
    padding: 12px;
    color: #5f6368;
    opacity: 1;
}
#sign-in {
    background-color: #2b7de9;
    color: #ffffff;
    font-size: 14px;
    padding-top: 9px;
    padding-right: 23px;
    padding-bottom: 9px;
    padding-left: 23px;
    margin: 0 8px 0 8px;
    border-radius: 4px;
}

#about {
    margin: 0 5px 0 15px;
    padding: 5px;
}

#store {
    margin: 0 0 0 5px;
    padding: 5px;
}

