html, body {
    height: 100%;
    width:100%
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    font-size: 14px;
    font-family: arial, sans-serif;
    margin: 0;
}

#columns {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height:100%;
}

.containers-all {
    display: flex;
    flex-direction:column;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.nav-bar {
    width: stretch;
    height: 60px;
    display: flex;
    align-items: center;
    padding: 6px;
    color: 
}

.nav-bar .upper-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    font-size: 13px;
}

.footer {
    display: flex;
    justify-content: space-between;
    width: stretch;
    background-color: #f2f2f2;
    color: #70757a;
}

.footer .bottom-left {
    display: flex;
    justify-content: space-evenly;
    width: 20%;
}

.footer .bottom-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer .bottom-center .leaf {
   height: 14px;
}

.footer .bottom-right {
    display: flex;
    justify-content: space-evenly;
    width: 15%;
}
#images {
    padding-left: 15px;
    padding-right: 15px;
}

#apps {
    padding: 12px;
    color: #5f6368;
    opacity: 1;
}
#sign-in {
    background-color: #2b7de9;
    color: #ffffff;
    font-size: 14px;
    padding-top: 9px;
    padding-right: 23px;
    padding-bottom: 9px;
    padding-left: 23px;
    margin: 0 8px 0 8px;
    border-radius: 4px;
}

#about {
    margin: 0 5px 0 15px;
    padding: 5px;
}

#store {
    margin: 0 0 0 5px;
    padding: 5px;
}